/* YOUR STYLES HERE */

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

#info {
    text-align: center;
    margin-top: 48px;
    padding-left: auto;
    padding-right: auto;
}

.info-text {
    font-size: 24px;
    font-weight: 300;
    color: purple;
    width: 500px;
    overflow-wrap: break-word;
    border-style: solid;
    border-width: 4px;
    border-color:white;
    margin: auto;
}

.info-text:hover {
    color: rgb(93, 7, 7);
}

#picture {
    text-align: center;
    display: block;
}

#pic {
    width: 300px;
}

.button {
    border-color: white;
    border-radius: 18px;
    background-color: purple;
    color: white;
    text-align: center;
    height: 80px;
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 48px;
}

#top {
    text-align: center;
    margin-top: 8px;
    padding-bottom: 16px;
}

.top-border {
    font-size: 32px;
    color: white;
}

#bottom {
    text-align: center;
    margin-bottom: 8px;
    padding-top: 16px;
}

.bottom-border {
    font-size: 32px;
    color: white;
}